.button-container {
    width: 130px;
    height: 40px;
    border-radius: 40px;
    
    background-color: #2CD55D;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4px 0;
}